* {
    margin: 0;
    padding: 0;
  }
/* BACKGROUND ANIMATION */
  .wrapper {
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, #04fafd, 5%, #119dff, 50%, #030423);
    position: absolute;
    overflow: hidden;
  }
  
  .wrapper .bubble {
    height: 60px;
    width: 60px;
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 50px;
    position: absolute;
    top: 10%;
    left: 10%;
    animation: 4s linear infinite;
    pointer-events: none;
  }
  .bubble .dot {
    height: 10px;
    width: 10px;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 20%;
    right: 20%;
  }
  .wrapper .bubble:nth-child(1) {
    top: 20%;
    left: 20%;
    animation: animate 8s linear infinite;
  }
  .wrapper .bubble:nth-child(2) {
    top: 60%;
    left: 80%;
    animation: animate 10s linear infinite;
  }
  .wrapper .bubble:nth-child(3) {
    top: 40%;
    left: 40%;
    animation: animate 3s linear infinite;
  }
  .wrapper .bubble:nth-child(4) {
    top: 66%;
    left: 30%;
    animation: animate 7s linear infinite;
  }
  .wrapper .bubble:nth-child(5) {
    top: 90%;
    left: 10%;
    animation: animate 9s linear infinite;
  }
  .wrapper .bubble:nth-child(6) {
    top: 30%;
    left: 60%;
    animation: animate 5s linear infinite;
  }
  .wrapper .bubble:nth-child(7) {
    top: 70%;
    left: 20%;
    animation: animate 8s linear infinite;
  }
  .wrapper .bubble:nth-child(8) {
    top: 75%;
    left: 60%;
    animation: animate 10s linear infinite;
  }
  .wrapper .bubble:nth-child(9) {
    top: 50%;
    left: 50%;
    animation: animate 6s linear infinite;
  }
  .wrapper .bubble:nth-child(10) {
    top: 45%;
    left: 20%;
    animation: animate 10s linear infinite;
  }
  .wrapper .bubble:nth-child(11) {
    top: 10%;
    left: 90%;
    animation: animate 9s linear infinite;
  }
  .wrapper .bubble:nth-child(12) {
    top: 20%;
    left: 70%;
    animation: animate 7s linear infinite;
  }
  .wrapper .bubble:nth-child(13) {
    top: 20%;
    left: 20%;
    animation: animate 8s linear infinite;
  }
  .wrapper .bubble:nth-child(14) {
    top: 60%;
    left: 5%;
    animation: animate 6s linear infinite;
  }
  .wrapper .bubble:nth-child(15) {
    top: 90%;
    left: 80%;
    animation: animate 9s linear infinite;
  }
  @keyframes animate {
    0% {
      transform: scale(0) translateY(0) rotate(70deg);
    }
    100% {
      transform: scale(1.3) translateY(-100px) rotate(360deg);
    }
  }

/* APP STYLE */

.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

/* LOGIN SCREEN AND REGISTER SCREEN STYLE */

.login-container {
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .1);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    width: 60%;
  }
  
  h2 {
    color: white;
    font-family: sans-serif;
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;
  }
  
  .login-form {
    padding: 2rem;
  }
  .input-container {
    width: 100%;
    height: 50px;
    margin-bottom: 2rem;
    position: relative;
    padding: 0 .2rem;
    border-radius: 50%
  }
  .input-container > svg {
    position: absolute;
    right: 0;
    top: 30%;
    color: white;
  }
  .input-container > input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    border: 2px solid rgba(255, 255, 255, .1);
    border-radius: 2.5rem;
    color: white;
    font-size: 1.2rem;
    padding: 0 .4rem;
  }
  
  .input-container > input::placeholder {
    color: white;
  }
  
  .input-container > input:active {
    border: none;
    outline: none;
  }
  .password-container{
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem
  }

  .show-password > span {
    color: white;
  }
  
  .button-container{
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .button-container > button {
    width: 80%;
    padding: .5rem;
    border: none;
    font-size: 1rem;
    border-radius: 2rem;
  }
  .toRegister {
    text-align: center
  }
  .toRegister > p {
    color: white;
  }
  
  .toRegister > p > a, .password-container > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  a[data-tool-tip]  {
    position: relative;
  }
  
  a[data-tool-tip]::after {
    content: attr(data-tool-tip);
    background: rgb(27,35,41);
    color: white;
    padding: .3rem;
    font-size: .7rem;
    border-radius: .2rem;
    font-weight: bold;
    position: absolute;
    display: block;
    left: 0;
    white-space: nowrap;
    bottom: -150%;
    transform: scale(0);
    transition: transform ease-out 150ms;
  }
  
  a[data-tool-tip]:hover::after {
    transform: scale(1)
  }



/* DASHBOARD SCREEN STYLE */

.dashboard-container {
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .1);
  backdrop-filter: blur(30px);
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  width: 80%;
  height: 90%;
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-rows: repeat(12, minmax(40px, 50px));
  row-gap: 10px;
}
/* LETS TALK, IMG AND ADD GROUP STYLE  */
.lets-talk {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  display: flex;
  justify-content: space-around;
  align-items: center
}

.lets-talk > img {
  width: 40px;
  height: 40px;
}

.lets-talk > span { 
  font-size: 1.4rem;
  color: white;
}

.lets-talk > svg {
  color: white;
  font-size: 1.2rem;
}

/* SEARCH FORM STYLE  */
.searchForm-container {
  height: 100%;
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  align-self: center;
  justify-self: center;
}

.searchForm {
  height: 80%;
}

.searchForm > input {
  padding-left: .5rem;
  color: white;
  height: 100%;
  border-radius: 1rem;
  background-color: rgb(41, 51, 63);
  border: none;
}
.searchForm > input::placeholder {
  color: white;
}

.searchForm > input:active {
  outline: none;
  border: none;
}

.searchForm > button {
  border: none;
  border-radius: 1rem;
  padding: .5rem;
  background-color: rgb(16, 164, 227);
  color: white;
}



/* CONTACTS STYLE  */
.contacts-container {
  grid-row: 4 / 12;
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.contacts-loading-container {
  grid-row: 7 / 8;
  grid-column: 2 / 3;
  display: flex;
  justify-content: center;
}

.contacts-error-container {
  grid-row: 5 / 10;
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.contacts-error-container > svg{
  font-size: 5rem;
}

.contacts-error-container > p {
  font-size: 1.2rem;
}

.contacts-container > a {
  padding-left: 1.1rem;
  text-decoration: none;
  height: 15%;
  border-bottom: rgb(99, 105, 108, 0.2); 
}

.active {
  background-color: rgba(62,130,243, .5);
}

.contact {
  display: flex;
  gap: 5%;
  align-items: center;
  height: 100%;
}

.contact:hover {
  opacity: .6;
}

.contact > img {
  width: 30px;
  height: 30px;
}

.contact > span {
  color: white;
}
/* LOGOUT STYLE  */
.logout {
  grid-row: 13 / 14;
  grid-column: 1 / 2;
}

.logout > button{
  background: none;
  border: none;
  color: white;
  font-size: 1.2rem;
}

/* NO-CHAT-SELECTED-DISPLAY STYLE  */
.noChatSelectedDisplay {
  grid-row: 7 / 9;
  grid-column: 3 / 4;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.noChatSelectedDisplay > p, .noChatSelectedDisplay > svg {
  color: white;
  font-size: 1.4rem;
}

.noChatSelectedDisplay > p > svg {
  color: yellow;
}

.noChatSelectedDisplay > svg {
  color: rgb(16, 161, 252);
}

/* CHAT STYLE  */

.chat-container {
  grid-row: 1 / 14;
  grid-column: 2 / 3;
  display: grid;
  grid-template-rows: repeat(autofill, 40px);
  grid-auto-rows: repeat(autofill, minmax(15px, 40px));
  border-left: 1px solid rgb(100, 116, 139);
  scroll-behavior: smooth;
  overflow: auto
}


.chatname {
  background-color: rgb(100,116,139, 0.4);
  padding: .5rem;
  grid-row: 1 / 2;
  
}

.chat-messages {
  width: 96%;
  grid-row: 2 / 12;
}

.loader {
  display: flex;
  justify-content: center;
}

.senderMessage > img, .receiverMessage > img {
  width: 30px;
  height: 30px;
}

.senderMessage, .receiverMessage {
  display: flex;
  flex-direction: row-reverse;
  margin: 10% 2%;
  gap: 2%;
  position: relative;
  align-items: flex-end;
}

.receiverMessage {
  flex-direction: row;
}

.senderMessage > p, .receiverMessage > p {
  background-color: rgb(62,130,243);
  padding: .5rem;
  color: white;
  border-radius: .5rem;
  position: relative;
}

.senderMessage > p::before, .receiverMessage > p::before {
  content: '';
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-left: 15px solid rgb(62,130,243);
  position: absolute;
  right: -13px;
  bottom: -5px;
  transform: rotate(30deg);
}

.receiverMessage > p {
  background-color: rgb(40,51,63);
}
.receiverMessage > p::before {
  border: 5px solid transparent;
  border-right: 15px solid rgb(40,51,63);
  right: 0;
  left: -13px;
  transform: rotate(-30deg)
}

.senderMessage > span {
  position: absolute;
  color: rgba(99,105,108, 0.8);
  bottom: -13px;
  right: 37px;
  font-size: .6rem;
}

.receiverMessage > span {
  position: absolute;
  color: rgba(99,105,108, 0.8);
  bottom: -13px;
  left: 37px;
  font-size: .6rem;
}

.sendMessage-form {
  overflow: hidden;
  position: relative;
  height: 30px;
  grid-row: 13 / 14;
  align-self: flex-end;
}

.sendMessage-form > input {
  height: 30px;
  width: 100%;
  background-color: rgba(99,105,108, 0.2);
  border: none;
  outline: none;
  color: white;
  padding: 0 0 0 .4rem;
  overflow-wrap:break-word;
} 
.sendMessage-form > input::placeholder {
  color: white;
  padding: 0 .2rem;
}
.sendMessage-form > input:active {
  border: none;
  outline: none;
}
.sendMessage-form > button {
  color: rgb(62,130,243);
  background: transparent;
  border: none;
  outline: none;
  position: absolute;
  font-size: 1.3rem;
  right: 0;
  top: 6px;
}

/* LOGIN AND REGISTER SCREEN STYLE FOR 320px-750px */
@media screen and (max-width: 600px){
  .login-container {
      width: 90%
  }
}
@media screen and (min-width: 1024px){
  .login-container {
      width: 40%
  }
  .dashboard-container{
    grid-auto-rows: repeat(autofill, 40px);
  }
  .chat-container {

  }
}